body {
  background: linear-gradient(to bottom right, #654ea3, #eaafc8);
  margin: 0;
  color: white;
  min-height: 100vh;
}
.table-auto td {
  white-space: nowrap;
}
* {
  font-family: "Space Grotesk", sans-serif;
}
